@page "/"
@inject IJSRuntime js

<PageTitle>Finance App</PageTitle>


@if (string.IsNullOrEmpty(userdata))
{
	<div style="color: white">
		<h1>Welcome!</h1>
		<p>Welcome to your finance app. Please log in to procide.</p>
	</div>
} else
{
	<div style="color: white">
		<h1>Welcome!</h1>
		<p>Welcome back. Now you can procide freely to apps utility.</p>
	</div>
	
}


@code {

	string userdata = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var userdata = await js.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
	}
}