@inject IJSRuntime js

<p>
	@if (!string.IsNullOrEmpty(userdata))
	{
		<span style="color:white"><a href="/logout">(Logout)</a></span>
	} 
</p>

@code {

	string userdata = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var userdata = await js.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
	}
}
