@inject IJSRuntime js

<p>
	@if (!string.IsNullOrEmpty(username))
	{
		<span style="color:white"><a href="/logout">(Logout)</a></span>
	} 
</p>

@code {

	string username = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var userdata = await js.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
		if (!string.IsNullOrWhiteSpace(userdata))
		{
			username = userdata.Split(';', 2)[0];
		}
	}
}
