@inherits LayoutComponentBase
@using FinanceApp.Client.Pages

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background: #6a11cb;
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))">
        <div class="top-row px-4" style="background: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%)">
            <UserComponent></UserComponent>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
